<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Multiply form</title>
</head>
<body>
    <form>
        <p>x: <input name="x" type="text"></p>
        <p>y: <input name="y" type="text"></p>
        <input type="submit">
    </form>
    {% if errormessage is not none %}
    <span style="color: red; font-size: 300%;">{{ errormessage }}</span>
    {% endif %}

    {% if product is not none %}

    <!-- start of if block -->
    <p>You asked me to multiply {{ x }} and {{ y }} </p>
    <p>Okay... Let me think...</p>
    <p>The answer is {{ product }}.</p>
    <!-- end of if block -->

    {% endif %}
</body>
</html>